.add-post {
  margin-top: 10px;
  border: 2px solid #ccc;
  padding: 15px;
  border-radius: 20px;
  .img-wrapper {
    text-align: end;
    img {
      width: 60px;
    }
  }
}
.buttons-wrapper {
  margin-top: 15px;
  text-align: end;
  .add-btn {
    margin-right: 8px;
  }
}
