.users-wrapper {
  padding: 10px;
  overflow: hidden;
  .search-div {
    padding-left: 30px;
    .search {
      background-color: rgb(188 197 252 / 64%);
    }
  }
  button{
    margin-left: 20px;
  }
 
}
